/* Reset e Stili Base */
body { margin: 0; font-family: 'Segoe UI', sans-serif; line-height: 1.6; }
h1 { font-size: 4rem; }
img { width: 100%; border-radius: 12px; display: block; }

/* Layout Contenitore */
.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 20px;
}

#FirstSectionDiv {
    background-color: #dcbec3;
    width: 20rem;
    align-self: center;
}

#FirstSectionText {
    color: #2e3625;
    font-family: fantasy;
    text-align: center;
}

.SecondSectionIcons {
    width: 10%;
}

.image-col, .text-col {
    flex: 1 1 450px; /* Base di 450px, poi cresce */
    padding: 20px;
}

.text-icon {
    width: 50%;
}

/* Colori delle Sezioni */
.section-one { background-color: #2e3625; color: #dcbec3; }
.section-two { background-color: #222719; color: #dcbec3; }
.section-three { background-color: #465338; color: #dcbec3; }

/* L'inversione della seconda sezione */
.section-two .container {
    flex-direction: row-reverse;
}


/* Layout a due colonne interne per le features */
.feature-item {
    display: flex;
    align-items: flex-end; /* Allinea l'icona in alto rispetto al testo */
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Colonna sinistra: Icona */
.icon-part {
    flex: 0 0 60px; /* Larghezza fissa per le icone */
    display: flex;
    justify-content: center;
}

/* Colonna destra: Testo */
.info-part {
    flex: 1; /* Prende tutto lo spazio rimanente */
    padding-left: 20px;
}

/* Stile testi interni */
.info-part h3 {
    margin: 0 0 5px 0;
    font-size: 1.3rem;
    color: #3498db; /* Colore titolo icona */
}

.info-part p {
    margin: 0;
    font-size: 0.95rem;
    opacity: 0.9;
}



/* Ottimizzazione per Mobile */
@media (max-width: 768px) {
    .text-col { text-align: center; }
}